DATABASE_URL="postgresql://postgres:password@localhost:5432/musicfiles"
JWT_SECRET="supersecret"
PORT=4000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=https://arquivapp.vercel.app

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=