DATABASE_URL="postgresql://neondb_owner:npg_moXSsDhVjf49@ep-hidden-rice-acyfs4rg-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="supersecret"
PORT=4000

FRONTEND_URL=https://arquivapp.com.br

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=jorgeluizkoch@gmail.com
SMTP_PASS=ijxi fhsx hzzo gzuz

R2_ACCOUNT_ID=06818d5475f0a44ad14a287fca56118a
R2_ACCESS_KEY_ID=98d27331b32c91d6e8e27c47932ce457
R2_SECRET_ACCESS_KEY=73d11a12d6f8e868ac350eb0ed1232923a8e2a8876037feca5ec918e23319ca7

R2_PUBLIC_BUCKET=arquivapp-public
R2_PRIVATE_BUCKET=arquivapp-private
R2_PUBLIC_BASE_URL=https://cdn.arquivapp.com.br